<div class="form-wrapper bigEntrance">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), id: 'register-form') do |f| %>
        <%= devise_error_messages! %>

        <div class="label-wrapper">
            <%= f.label :username, 'KorisniÄko ime' %>
        </div>
        <div class="input-wrapper">
            <span class="form-icon"><i class="fa fa-user"></i></span>
            <%= f.text_field :username, autofocus: true %>
        </div>

        <div class="label-wrapper">
            <%= f.label :email, 'Email' %>
        </div>
        <div class="input-wrapper">
            <span class="form-icon"><i class="fa fa-envelope"></i></span>
            <%= f.email_field :email %>
        </div>

        <div class="label-wrapper">
            <%= f.label :password, 'Lozinka' %>
            <% if @validatable %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
        </div>
        <div class="input-wrapper">
            <span class="form-icon"><i class="fa fa-lock"></i></span>
            <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="label-wrapper">
            <%= f.label :password_confirmation, 'Lozinka' %>
        </div>
        <div class="input-wrapper">
            <span class="form-icon"><i class="fa fa-lock"></i></span>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="input-wrapper" id="register-submit-wrapper">
            <%= f.submit 'Registruj se', id: 'submit-register' %>
        </div>

    <% end %>

</div>

<%= render 'layouts/welcome' %>



