<%= form_for @entity, html: { class: 'physical-entity-form' } do |f| %>

    <div class="col1">

        <div class="label-wrapper">
            <label>Ime</label>
        </div>
        <div class="input-wrapper">
            <span class="form-icon"><i class="fa fa-user"></i></span>
            <%= f.text_field :first_name, name: 'first_name' %>
        </div>

        <div class="label-wrapper">
            <label>Prezime</label>
        </div>
        <div class="input-wrapper">
            <span class="form-icon"><i class="fa fa-user"></i></span>
            <%= f.text_field :last_name, name: 'last_name' %>
        </div>

        <div class="label-wrapper">
            <label>Grad</label>
        </div>
        <div class="input-wrapper">
            <span class="form-icon"><i class="fa fa-list-alt"></i></span>
            <%= f.text_field :city, name: 'city' %>
        </div>

        <div class="label-wrapper">
            <label>Država</label>
        </div>
        <div class="input-wrapper">
            <span class="form-icon"><i class="fa fa-list-alt"></i></span>
            <%= f.text_field :country, name: 'country' %>
        </div>

        <div class="label-wrapper">
            <label>Adresa</label>
        </div>
        <div class="input-wrapper">
            <span class="form-icon"><i class="fa fa-list-alt"></i></span>
            <%= f.text_field :address, name: 'address' %>
        </div>

        <div class="label-wrapper">
            <label>Poštanski broj</label>
        </div>
        <div class="input-wrapper">
            <span class="form-icon"><i class="fa fa-list-alt"></i></span>
            <%= f.text_field :postal_code, name: 'postal_code' %>
        </div>

        <div class="input-wrapper" id="register-submit-wrapper">
            <%= f.submit 'Sačuvaj', id: 'submit-create-pl' %>
        </div>

    </div>

    <div class="col2">

        <div class="label-wrapper">
            <label>Telefon</label>
        </div>
        <div class="input-wrapper">
            <span class="form-icon"><i class="fa fa-phone"></i></span>
            <%= f.text_field :phone %>
        </div>

        <div class="label-wrapper">
            <label>Mobilni telefon</label>
        </div>
        <div class="input-wrapper">
            <span class="form-icon"><i class="fa fa-mobile"></i></span>
            <%= f.text_field :mobile %>
        </div>

        <div class="label-wrapper">
            <label>E-mail</label>
        </div>
        <div class="input-wrapper">
            <span class="form-icon"><i class="fa fa-envelope"></i></span>
            <%= f.text_field :email %>
        </div>

        <div class="label-wrapper">
            <label>Web</label>
        </div>
        <div class="input-wrapper">
            <span class="form-icon"><i class="fa fa-globe"></i></span>
            <%= f.text_field :web %>
        </div>

    </div>

<% end %>