<div class="profile-title"><h1>Pregled kontakt podataka za fizičko lice: <%= @entity.full_name %></h1><hr id="profile-hr" /></div>

<div class="subject-details">

    <table class="table" id="pravno_lice_table">
        <tr>
            <th>Pregled podataka</th>
            <th>Podatak</th>
        </tr>
        <tr>
            <td><i class="fa fa-user"></i>&nbsp;&nbsp;Ime</td>
            <td><%= @entity.first_name %></td>
        </tr>
        <tr>
          <td><i class="fa fa-user"></i>&nbsp;&nbsp;Prezime</td>
          <td><%= @entity.last_name %></td>
        </tr>
        <tr>
          <td><i class="fa fa-list-alt"></i>&nbsp;&nbsp;Država i grad</td>
          <td><%= @entity.country_and_city %></td>
        </tr>
        <tr>
          <td><i class="fa fa-list-alt"></i>&nbsp;&nbsp;Poštanski broj</td>
          <td><%= @entity.postal_code %></td>
        </tr>
        <tr>
          <td><i class="fa fa-list-alt"></i>&nbsp;&nbsp;Adresa</td>
          <td><%= @entity.address %></td>
        </tr>
        <tr>
            <td><i class="fa fa-phone"></i>&nbsp;&nbsp;Telefon</td>
            <td><%= @entity.phone %></td>
        </tr>
        <tr>
            <td><i class="fa fa-mobile"></i>&nbsp;&nbsp;Mobilni telefon</td>
            <td><%= @entity.mobile %></td>
        </tr>
        <tr>
            <td><i class="fa fa-envelope"></i>&nbsp;&nbsp;E-mail</td>
            <td><%= @entity.email %></td>
        </tr>
        <tr>
            <td><i class="fa fa-globe"></i>&nbsp;&nbsp;Web</td>
            <td><%= @entity.web %></td>
        </tr>
        <% if current_user.is_admin? %>
        <tr>
            <td></td>
            <td style="text-align: right;">
                <a href="#"><i class="fa fa-pencil">&nbsp;</i>Izmijeni podatke</a>
                |<a href="#" class="delete"><i class="fa fa-trash">&nbsp;</i>Obriši subjekat</a>
          </td>
        </tr>
        <% end %>
  </table>

</div>

<!-- map placeholder -->
