<div id="main-content">

  <section id="search-section">

      <%= form_tag(root_path, :method => 'get', id: 'search-form') do %>

      <div id="search-input-wrapper">
            <span class="form-icon"><i class="fa fa-search"></i></span>
            <%= text_field_tag :term, params[:term], placeholder: 'Unesite pojam za pretragu' %>
      </div>
      <div id="search-submit-wrapper">
            <input type="submit" id="btn-search" value="Pretraga" />
      </div>

  </section>

  <%= render 'home/partials/filters' %>

  <div id="table-wrapper">

    <%= render 'home/partials/list' %>
    <%= render 'home/partials/actions' %>

  </div>

  <% end %>

</div>

