<div class="form-wrapper">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), id: 'login-form') do |f| %>

        <div class="label-wrapper">
            <label>Korisničko ime</label>
        </div>
        <div class="input-wrapper">
            <span class="form-icon"><i class="fa fa-user"></i></span>
            <%= f.text_field :username %>
        </div>

        <div class="label-wrapper">
            <label>Lozinka:</label>
        </div>
        <div class="input-wrapper">
            <span class="form-icon"><i class="fa fa-lock"></i></span>
            <%= f.password_field :password %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div id="remember">
                <%= f.label :remember_me, 'Zapamti me' %>
                <%= f.check_box :remember_me %>
            </div>
        <% end -%>

        <div class="input-wrapper" id="login-submit-wrapper">
            <input type="submit" name="submit-login" id="submit-login" value="Prijavi se" />
            <%= f.submit 'Prijavi se' %>
        </div>

    <% end %>

</div>

<%= render 'layouts/welcome' %>