<footer id="footer">
    <section id="footer-top">

        <div id="footer-top-inner">
            <div id="footer-top-left">
                <div>
                    <i class="fa fa-facebook fa-2x"></i>
                    <i class="fa fa-twitter fa-2x"></i>
                    <i class="fa fa-pinterest fa-2x"></i>
                </div>
            </div>

            <div id="footer-nav">
                <ul>
                    <li><a href="<%= root_path %>"><i class="fa fa-home">&nbsp;</i>Početna</a></li>
                    <% if user_signed_in? %>
                        <li>
                            <a href="<%= profile_path({:id => current_user.id}) %>">
                                <i class="fa fa-user">&nbsp;</i><%= current_user.username %></a>
                        </li>
                    <% else %>
                        <li>
                            <a href="<%= new_user_session_path %>"><i class="fa fa-sign-in">&nbsp;</i>Prijava</a>
                        </li>
                        <li>
                            <a href="<%= new_user_registration_path %>"><i class="fa fa-sign-in">&nbsp;</i>Registracija</a>
                        </li>
                    <% end %>
                </ul>
            </div>

            <div id="footer-top-right">
                <div>
                    <h1>WEB ADRESAR 2014</h1>
                    <hr id="profile-hr" />
                </div>
            </div>
        </div>

    </section>

    <section id="footer-bottom">
        <p>Design by <a class="red" href="http://about.me/ivan.kovac">&lt;kovadev&#47;&gt;</a> 2014</p>
    </section>

</footer>