<!DOCTYPE html>
<html>
<head>
    <title>Adresar za pravna i fiziÄka lica</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ubuntu+Condensed&amp;subset=latin,latin-ext' %>

    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyC9jnE9Hgcv2UVXaXp96PauL-2z5JUY1tE' %>

</head>
<body>

<div id="wrapper">

    <%= render 'layouts/navigation' %>

    <div id="content-wrap">

        <div id="content">

            <%= yield %>

        </div> <!-- CONTENT END -->

    </div> <!-- CONTENT WRAP END -->

    <%= render 'layouts/footer' %>

    <div id="confirm-dialog"></div>

</div> <!-- WRAPPER END -->

<a id="back-to-top" href="#" class="back-to-top black" role="button"><i class="fa fa-angle-double-up fa-3x"></i></a>

</body>
</html>









